<form method="POST" action="/courses/{{course._id}}?_method=PUT">
  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học</label>
    <input
      value="{{course.name}}"
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Name"
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Mô tả khóa học</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      placeholder="Description"
    >{{course.description}}</textarea>
  </div>

  <div class="mb-3">
    <label for="videoId" class="form-label">VideoId</label>
    <input
      value="{{course.videoId}}"
      type="text"
      class="form-control"
      id="videoId"
      name="videoId"
      placeholder="VideoId"
    />
  </div>

  <button type="submit" class="btn btn-primary">Lưu</button>
</form>
